{% extends "base.html" %}

{% block title %}{% endblock %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
	<h2 class="brand">cascade</h2>
    <div class="container page">
       	<header class="jumbotron masthead">
       		<div class="inner">
				<h1>Enter any url.</h1>
			</div>
		</header>
		<script>
			$(function(){
				$('#submit-button').click(function() {
					var formarea = document.getElementById('center-form-area');
					var newImg = document.createElement("img");
					newImg.src = "/static/images/loading.gif";
					//console.log(newImg);
					formarea.appendChild(newImg);
				});
				$('#center-form-area').delegate('.examplelink', 'click', function() {
					$('#urltextinput')[0].value = this.text;
					//$('#submit-button')[0].trigger('submit');
				});
				$('#urltextinput').delegate('.examplelink', 'click', function() {
					$('#url2-input')[0].value = '';
					$('#url3-input')[0].value = '';
				});
				$('#examplelink1').click(function () {
					$('#grid-width-input')[0].value = '200';
					$('#url2-input')[0].value = '';
					$('#url3-input')[0].value = '';					
				});
				$('#examplelink2').click(function () {
					$('#grid-width-input')[0].value = '300';
					$('#url2-input')[0].value = '';
					$('#url3-input')[0].value = '';
				});
				$('#examplelink3').click(function () {
					$('#grid-width-input')[0].value = '150';
					$('#url2-input')[0].value = this.text + '?page=2';
					$('#url3-input')[0].value = this.text + '?page=3';
				});
			});
		</script>
		<div style="text-align: center;" id="center-form-area">
			<form class="form-inline" name="input" action="{{ url_for('display_images') }}" method="get">
				<input class="input-xxlarge" id="urltextinput" style="height: 30px;" type="text" name="url" placeholder="URL" />
				<input type="hidden" name="grid_width" value="200" id="grid-width-input" />
				<input type="hidden" name="url2" value="" id="url2-input" />
				<input type="hidden" name="url3" value="" id="url3-input" />
				<input type="submit" value="submit" style="height: 40px; width: 100px;" class="btn btn-danger" id="submit-button" />
			</form>
			<hr class="soften">
			<h1 style="color: white;">Try one of these URLs:</h1>
			<h2><a href="#" id="examplelink1" class="examplelink">http://500px.com/popular?only=Street</a></h2>
			<h2><a href="#" id="examplelink2" class="examplelink">http://timothyallen.blogs.bbcearth.com/</a></h2>
			<h2><a href="#" id="examplelink3" class="examplelink">http://dribbble.com/twistedfork</a></h2>
			<hr class="soften">
			<a href="{{ url_for('contact') }}">contact</a>
		</div>
	</div>
{% endblock %}
